<!doctype html>
<html>
   
   <head>
      <title>Angular JS | Controllers </title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
   </head>
   
   <body>

      <table class = "table table-bordered">
          <tr>
            <thead class="one tablecolors">
              <td>FirstName</td>
              <td>LastName</td>
              <td>Gender</td>
              <td>Age</td>
            </thead>
            
          </tr>
            <tbody>
              <tr>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{gender}}</td>
                <td>{{age}}</td>
                </tr>
            <tbody>
            
            
            
        </table>

      
   </body>
</html>

